= image_tag src="login_img.jpg", class: 'login_img'

.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .devise_field
      = f.label :email, class:'devise_label'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class:'devise_input'
    .devise_field
      = f.label :password, class:'devise_label'
      %br/
      = f.password_field :password, autocomplete: "current-password", class:'devise_input'
    .actions
      = f.submit "LOGIN", class:'devise_submit'
  = render "devise/shared/links"
