.container
	.yajirusi
		= link_to (image_tag 'yajirusi_left.png'), 'javascript:history.back()'
	.user_name
		%h2  #{@user.username}
		-# = image_tag current_user.avatar_img, class: 'avatar' ##, render = edit_profile_path(current_user.id)
	#avatar_js
	= form_with(model:@profile, url: profile_path, method: 'put', local: true, id: 'avatar_form') do |f|
		= f.label :avatar do
			- if @profile.avatar.attached?
				.profile-image
					= image_tag @profile.avatar, class: 'avatar'
			.none
				= f.file_field :avatar, class: 'form-avatar'
				%br
				= f.submit '送信', class: 'form-btn'
	.inline
		.profile-number
			#{@user.timelines.count}
			.profile-content
				Post
		.profile-number 
			= link_to followers_user_path(@user.id)do
				#{@user.followers.count}
			.profile-content
				Follower
		.profile-number
			= link_to following_user_path(@user.id)do
				#{@user.following.count}
			.profile-content
				Following
	.my_post
		.cards
			- @timelines.each do |timelines|
				.img_container 
					- timelines.album.each_with_index do |album, index|
						= image_tag album, id: "img_container_album#{index}"